@mixin border-bottom-1px($color) {
	position: relative;
	&::after {
		display: block;
		position: absolute;
		left: 0rpx;
		bottom: 0rpx;
		width: 100%;
		border-top: 1rpx solid $color;
		content: '';
	}
}
@mixin border-bottom-none() {
	&::after {
		display: none;
	}
}
@mixin border-top-1px($color) {
	position: relative;
	&::before {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border-top: 1rpx solid $color;
		content: '';
	}
}
@mixin border-left-1px($color) {
	position: relative;
	&::before {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		border-left: 1rpx solid $color;
		content: '';
	}
}
@mixin border-right-1px($color) {
	position: relative;
	&::after {
		display: block;
		position: absolute;
		left: 0rpx;
		height: 100%;
		width: 100%;
		border-right: 1rpx solid $color;
		content: '';
	}
}


@mixin right-to-more($color){
	position: relative;
	&::before {
		text-align: right;
		position: absolute;
		display: block;
	    content: '';
		right: 0;
		top:0;
		bottom: 0;
		margin: auto 0;
		width: 20rpx;
		height: 20rpx;
		border-right: 6rpx solid $color;
		border-bottom: 6rpx solid $color;
		transform: rotate(-45deg);
	}
}

@mixin border-top-bottom-1px($color) {
	@include border-bottom-1px($color);
	@include border-top-1px($color);
}


@mixin setActiveBgColor($alpha: rgba(0,0,0,0.1)) {
	&::active{
		background-color: $alpha;
	}
}





@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
	.border-1px {
		&::after,
		&::before {
			-webkit-transform: scaleY(0.7);
			transform: scaleY(0.7);
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
	.border-1px {
		&::after,
		&::before {
			-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
		}
	}
}

@media (-webkit-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
	.border-1px {
		&::after,
		&::before {
			-webkit-transform: scaleY(0.35);
			transform: scaleY(0.35);
		}
	}
}
